<li>
	{{name}}

	<button class="devour" data-id="{{id}}" data-justdevoured="{{devoured}}">
		{{#if devoured}}EAT TIME!{{else}}Order more?{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>